body {
  background-color: lightblue;
}

.encabezado {
  border: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: red;
}

.izq {
  display: inline-block;
  border: 0px;
  padding: 0;
  margin: 0;
  width: 60%;
  background-color: violet;
}

.der {
  display: inline-block;
  border: 0px;
  padding: 0;
  margin: 0;
  width: 39%;
  background-color: yellowgreen;
}

.pie {
  border: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20px;
  background-color: blue;
}
/* aplico estilo a los img dentro de una clase pie */
.pie > img {
  width: 5vw;
}

.altura {
  height: 100px;
}

.altura2 {
  height: 300px;
}

div {
  color: white;
  font-size: 1em;
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
}
